.hero2 {
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(86, 90, 115);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 70px;
  position: relative;
}

.idk {
  background: linear-gradient(
      127deg,
      rgba(87, 234, 109, 0.689),
      rgba(0, 0, 255, 0.333) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(183, 88, 190, 0.476),
      rgba(0, 0, 255, 0) 70.71%
    );
  display: inline-block;
  padding: 40px;
  margin: 20px;
  border-radius: 50px;
  font-size: 40px;
}
