.hero2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.552)),
    url("https://images.pexels.com/photos/1819651/pexels-photo-1819651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 70px;
  position: relative;

  text-shadow: 6px 6px rgba(224, 140, 229, 0.274);
}

.idk {
  background-color: rgba(0, 0, 0, 0.449);
  display: inline-block;
  padding: 40px;
  margin: 20px;
  border-radius: 50px;
  font-size: 40px;
}
